<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>About Us</title>
</head>
<body>
    <div class="container">
        <br>
        <h1 class="text-center">About Us</h1>
        <br>
        <h2>About Me:</h2>
        <p>Hi, I am AJ.</p>
        <p>I love everything about coding.</p>
        <p>I have great interest in designing graphic posts as well.</p>
        <p>I like to assist my clients on SEO front.</p>
        <p>I am a budding Web Developer and UI/UX designer.</p>
        <br>
        <h2>About the Project:</h2>
        <p>This is my first project using Django Framework.</p>
        <p>It intends to create absolutely unique password for you in a matter of seconds.</p>
        <p>You can decide what special features you want your password to have and can create a customized one.</p>
        <p>Hope this project helps you sufficiently.</p>
        <p>Happy security :)</p>
        <br>
        <!-- This link will take the user to the Home webpage by referring the url file -->
        <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
    </div>
</body>
</html>