<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Generated Password</title>
</head>
<body>
    <!-- This section will give the user the generated password as a result -->
    <div class="container text-center">
        <br>
        <h1>Password:</h1>
        <br>
        <p class="alert alert-success">{{ password }}</p>
        <br>
        <!-- This link will take the user to the Home webpage by referring to the url file -->
        <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
    </div>
</body>
</html>